@font-face {
    font-family: globalFont;
    src: url('./assets/fonts/circular-std-medium-500.ttf');
}

body {
    margin: 0;
    font-family: globalFont, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
}
